{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "jest": false,
    "expect": false,
    "describe": false,
    "test": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false
  }
}
